<div class="form">
    <form action="/action_page.php">
        <div class="container">
            <hr>

            <label for="Email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="Email" id="email" required>

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="name" required>

            <label for="dob"><b>DoB</b></label>
            <input type="text" placeholder="Enter DoB" name="dob" id="dob" required>

            <label for="dob"><b>Education</b></label>
            <input type="text" placeholder="Enter Education" name="education" id="education" required>

            <label for="dob"><b>Bio</b></label>
            <input type="text" placeholder="Enter Bio" name="bio" id="bio" required>

            <label for="psw"><b>Old Password</b></label>
            <input type="password" placeholder="Enter Old Password" name="psw" id="psw" required>

            <label for="psw"><b>New Password</b></label>
            <input type="password" placeholder="Enter New Password" name="psw" id="psw" required>

            <hr>

            <button type="submit" class="btn">Update</button>
            <button type="submit" class="btn">Cancel</button>
        </div>
    </form>
</div>