<div class="form">
    <a href="/api/viewCourseAssigned"></a>

    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>

        {{#each user.courseAssign}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.category.name}}</td>
            </tr>
        {{/each}}s
    </table>
</div>