<div class="form">
    <button type="submit" class="btn add"><a href="/getCourse"></a>Trainee</button>
    <table>
        <tr>
            <th>CourseID</th>
            <th>CourseName</th>
            <th>Description</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>