<div class="form">
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
        </tr>
        {{#each course}}
            <tr>
                <th>{{this.name}}</th>
                <th>{{this.description}}</th>
            </tr>
        {{/each}}
    </table>
</div>