<div class="form">
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
        {{#each course}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.category.name}}</td>
            </tr>
        {{/each}}
    </table>
</div>