<!DOCTYPE html>
<!--
Template Name: Gleblu
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <style>
        .form-group{
            margin-left: auto;
            margin-right: auto;
            width: 8em
        }
        .btn-primary{
            float: none;
            margin: 0 auto;
        }
        table {
            width: 70%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        th {
            height: 100px;
            text-align: center;
        }
        form{
            margin-top: 100px;
        }
        .add{
            background-color: #FF3F4A;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            margin-left: 10px;
            border: none;
            cursor: pointer;
            width: 10%;
            opacity: 0.9;
        }
        .btn-primary{
            margin-top: 30px;
        }
    </style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <!-- ################################################################################################ -->
            <h1><a href="index.html">Admin Page</a></h1>
            <!-- ################################################################################################ -->
        </div>
        <nav id="mainav" class="fl_right">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="active"><a href="index.html">Account</a></li>
                <button type="submit" class="btn btn-primary">Logout</button>
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="form">
    <button type="submit" class="btn add">Add new User</button>
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="color: black;"><button>Update</button></th>
            <th style="color: black;"><button>Delete</button></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="color: black;"><button>Update</button></th>
            <th style="color: black;"><button>Delete</button></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="color: black;"><button>Update</button></th>
            <th style="color: black;"><button>Delete</button></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="color: black;"><button>Update</button></th>
            <th style="color: black;"><button>Delete</button></th>
        </tr>
    </table>
</div>

{{> footer}}

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>