<div class="form">
    <form action="/admin/updateAccount">
        <div class="container">
            <hr>

            <label for="Username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" id="Username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="psw" required>

            <label class="label">Role</label>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="subject">
                    <option disabled="disabled" selected="selected">Choose option</option>
                    <option>Training Staff</option>
                    <option>Trainer</option>
                </select>
                <div class="select-dropdown"></div>
            </div>
            <hr>

            <button type="submit" class="Upadatebtn">Update</button>
            <button type="submit" class="Upadatebtn">Cancel</button>
        </div>
    </form>
</div>

