<div class="form">
    <a href="/admin/createAccount"><button type="submit" class="btn add">Add new User</button></a>
    <table>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {{#each user}}
            <tr>
                <th>{{username}}</th>
                <th>{{role.name}}</th>
                <th><button>Update</button></th>
                <th><button><a href="/admin/deleteAccount?delete_id={{_id}}""> Delete</a> </button></th>
            </tr>
        {{/each}}
    </table>
</div>