<div class="form">
    <form action="/staff/addCate" method="post">
        <div class="container">
            {{#if error}}
                <p class="danger">{{message}}</p>
            {{/if}}
            <hr>
            <label for="name"><b>Category Name</b></label>
            <input type="text" placeholder="Enter Category Name" name="name" id="name" required>

            <label for="description"><b>Description</b></label>
            <input type="text" placeholder="Enter Description" name="description" id="description" required>

            <button type="submit" class="btn" href="/staff/getCate">Add</button>
            <button type="submit" class="btn" onclick="window.location.href='/staff/getCate'">Cancel</button>
            <hr>
        </div>
    </form>
</div>