<div class="form">
    <form action="/staff/addCate">
        <div class="container">
            <hr>

            <label for="name"><b>Name</b></label>
            <input type="text" name="name" id="name" required>

            <label for="psw"><b>Description</b></label>
            <input type="text" name="description" id="description" required>

            <button type="submit" class="btn">Add</button>
            <button type="submit" class="btn">Cancel</button>
            <hr>
        </div>
    </form>
</div>