<div class="form">
    <form action="/staff/addCourse" method="post">
        <div class="container">
            {{#if error}}
                <p class="danger">{{message}}</p>
            {{/if}}
            <hr>
            <label for="course"><b>Course Name</b></label>
            <input type="text" placeholder="Enter Course" name="name" id="course" required>

            <label for="description"><b>Description</b></label>
            <input type="text" placeholder="Enter Password" name="description" id="description" required>

            <label class="label">Role</label>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="category">
                    <option disabled="disabled" selected="selected">Choose option</option>
                    {{#each categories}}
                        <option value={{name}}>{{name}}</option>
                    {{/each}}
                </select>
                <div class="select-dropdown"></div>
            </div>
            <hr>

            <a href="/api/getCourse"><button type="submit" class="btn">Add</button></a>
            <a><button type="submit" class="btn" onclick="window.location.href = '/api/getCourse'">Return</button></a>
        </div>
    </form>
</div>