<div class="form">
    <form action="">
        <div class="container">
            <hr>

            <label for="Email"><b>Course Name</b></label>
            <input type="text" placeholder="Enter Name" name="Email" id="email" required>

            <label class="label">Trainer</label>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="subject">
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
                <div class="select-dropdown"></div>
            </div>

            <label class="label">Trainee</label>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="subject">
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
                <div class="select-dropdown"></div>
            </div>

            <hr>

            <button type="submit" class="btn">Update</button>
            <button type="submit" class="btn">Cancel</button>
        </div>
    </form>
</div>