<div class="form">
    <form action="/staff/addCourseToUser">
        <div class="container">
            <hr>

            <label class="label">Course</label>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="course">
                    <option disabled="disabled" selected="selected">Choose option</option>
                        {{#each course}}
                            <option value="course.name">{{course.name}}</option>
                        {{/each}}
                </select>
                <div class="select-dropdown"></div>
            </div>

            <label class="label">Trainer</label>
            <select name="skills" multiple="">
                <option value="">Skills</option>
                <option value="angular">Angular</option>
                <option value="css">CSS</option>
                <option value="design">Graphic Design</option>
                <option value="ember">Ember</option>
            </select>

            <label class="label">Trainee</label>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="skills" multiple="">
                    <option value="">Skills</option>
                    <option value="angular">Angular</option>
                    <option value="css">CSS</option>
                    <option value="design">Graphic Design</option>
                    <option value="ember">Ember</option>
                </select>
                <div class="select-dropdown"></div>
            </div>
            <hr>

            <button type="submit" class="btn">Update</button>
            <button type="submit" class="btn">Cancel</button>
        </div>
    </form>
</div>