<div class="form">
    <a href="/staff/addCate">
        <button type="submit" class="btn add">Add new Category</button>
    </a>
    <input type="text" class="search" placeholder="Search..">
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {{#each category}}
            <tr>
                <th>{{this.name}}</th>
                <th>{{this.description}}</th>
                <th style="color: black;">
                    <button onclick="window.location.href='/staff/updateCate?cate_id={{_id}}'">Update</button>
                </th>
                <th style="color: black;">
                    <button onclick="onDelete('{{_id}}')">Delete</button>
                </th>
            </tr>
        {{/each}}
    </table>
</div>

<script>
    function onDelete(user_id) {
        try {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            const raw = JSON.stringify({
                "delete_id": user_id
            });

            const requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("/staff/deleteCate", requestOptions)
                    .then(response => response.text())
                    .then(result => {
                        window.location.reload();
                        console.log(result)
                    })
                    .catch(error => console.log('error', error));
        } catch (e) {
            console.log(e);
        }
    }
</script>