<div class="form">
    <button type="submit" class="btn add">Add new Category</button>
    <input type="text" class="search" placeholder="Search..">
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {{#each category}}
            <tr>
                <th>{{this.name}}</th>
                <th>{{this.description}}</th>
                <th style="color: black;"><button>Update</button></th>
                <th style="color: black;"><button>Delete</button></th>
            </tr>
        {{/each}}
    </table>
</div>