<div class="form">
    <form action="/staff/getCate">
        <div class="container">
            <hr>

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Category's name" name="name" id="name" required>

            <label for="psw"><b>Description</b></label>
            <input type="text" name="description" id="description" required>

            <hr>
        </div>
    </form>
</div>