<div class="form">
    <form action="/staff/updateCate">
        <div class="container">
            <hr>

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Category's name" name="name" id="name" required>

            <label for="psw"><b>Description</b></label>
            <input type="text" placeholder="Enter Description" name="description" id="description" required>

            <hr>

            <button type="submit" class="btn">Update</button>
            <button type="submit" class="btn">Cancel</button>
        </div>
    </form>
</div>