<div class="form">
    <button type="submit" class="btn">Add User</button>
    <form action="/action_page.php">
        <div class="container">
            <hr>

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Course's name" name="name" id="name" required>

            <label for="psw"><b>Trainer</b></label>
            <input type="text" name="description" id="description" required>

            <label for="psw"><b>Trainee</b></label>
            <input type="text" name="description" id="description" required>

            <hr>
        </div>
    </form>
</div>