<div class="form">
    <form action="/api/updateInfo">
        <div class="container">
            <hr>

            <label for="Email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="name" required>

            <label for="dob"><b>DoB</b></label>
            <input type="text" placeholder="Enter DoB" name="dob" id="dob" required>

            <label for="dob"><b>Education</b></label>
            <input type="text" placeholder="Enter Education" name="education" id="education" required>

            <label for="bio"><b>Bio</b></label>
            <input type="text" placeholder="Enter Bio" name="bio" id="bio" required>

            <hr>

            <button type="submit" class="btn">Update</button>
            <button type="submit" class="btn">Cancel</button>
        </div>
    </form>
</div>