<div class="form">
    <button type="submit" class="btn add">Add Course</button>
    <input type="text" class="find" placeholder="Search..">
    <table>
        <tr>
            <th>CourseName</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {{#each course}}
            <tr>
                <th>{{this.name}}</th>
                <th>{{this.description}}</th>
                <th style="color: black;"><button class="btn add">Update</button></th>
                <th style="color: black;"><button class="btn add">Delete</button></th>
            </tr>
        {{/each}}
    </table>
</div>