<div class="form">
    <button type="submit" class="btn add">Add new User</button>
    <input type="text" class="search" placeholder="Search..">
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="color: black;"><button>Update</button></th>
            <th style="color: black;"><button>Delete</button></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="color: black;"><button>Update</button></th>
            <th style="color: black;"><button>Delete</button></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="color: black;"><button>Update</button></th>
            <th style="color: black;"><button>Delete</button></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="color: black;"><button>Update</button></th>
            <th style="color: black;"><button>Delete</button></th>
        </tr>
    </table>
</div>