<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <!-- ################################################################################################ -->
            <h1><a href="">FPT HR</a></h1>
            <!-- ################################################################################################ -->
        </div>
        <nav id="mainav" class="fl_right">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li class="active"><a href="/home">Home</a></li>
                {{#if home}}
                    <li><a href="/login">Login</a></li>
                {{/if}}

                {{#ifCond check "===" "admin"}}
                    <li><a href="">Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                {{/ifCond}}

                {{#ifCond check "===" "staff"}}
                    <li><a href="#">User</a>
                        <ul>
                            <li><a href="#">Trainer</a></li>
                            <li><a href="#">Trainee</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Course</a>
                    <ul>
                        <li><a href="#">All Course</a></li>
                        <li><a href="#">Add user to course</a></li>
                    </ul>
                    </li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="/logout">Logout</a></li>
                {{/ifCond}}

                {{#ifCond check "===" "trainer"}}
                    <li><a href="/api/getTrainer">Profile</a></li>
                    <li><a href="#">Course</a></li>
                    <li><a href="/logout">Logout</a></li>
                {{/ifCond}}

                {{#ifCond check "===" "trainee"}}
                    <li><a href="/#">Profile</a></li>
                    <li><a href="#">Course</a></li>
                    <li><a href="/logout">Logout</a></li>
                {{/ifCond}}
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </header>
</div>
<!-- end Navbar -->