<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="center btmspace-80">
            <h6 class="heading underline font-x2">Human Resource Management System</h6>
        </div>
        <ul class="nospace group overview btmspace-80">

            <li class="one_third">
                <article>
                    <div class="clear"><a href="#"><i class="fas fa-newspaper"></i></a>
                        <h6 class="heading">Courses Management</h6>
                    </div>
                    <p>Courses will be provided in many categories and managed more effectively </p>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <div class="clear"><a href="#"><i class="fas fa-paper-plane"></i></a>
                        <h6 class="heading">Staff Management</h6>
                    </div>
                    <p>User will be managed more effective and easier for system to control</p>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <div class="clear"><a href="#"><i class="fas fa-eye"></i></a>
                        <h6 class="heading">View</h6>
                    </div>
                    <p>We provide a better view which will help view and control courses, user easier</p>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<div class="wrapper row2">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="center btmspace-80">
            <h6 class="heading underline font-x2">Trainer</h6>
        </div>
        <ul class="nospace group">
            <li class="one_quarter first">
                <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="images/demo/348x261.png" alt=""></a>
                    <figcaption class="bold uppercase center">Penatibus magnis</figcaption>
                </figure>
            </li>
            <li class="one_quarter">
                <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="images/demo/348x261.png" alt=""></a>
                    <figcaption class="bold uppercase center">Parturient montes</figcaption>
                </figure>
            </li>
            <li class="one_quarter">
                <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="images/demo/348x261.png" alt=""></a>
                    <figcaption class="bold uppercase center">Nascetur ridiculus</figcaption>
                </figure>
            </li>
            <li class="one_quarter">
                <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="images/demo/348x261.png" alt=""></a>
                    <figcaption class="bold uppercase center">Aliquam enim donec</figcaption>
                </figure>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>

