<!DOCTYPE html>
<!--
Template Name: Gleblu
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>Gleblu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../public/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <style>
        form-group{
            margin-left: auto;
            margin-right: auto;
            width: 8em
        }
        btn-primary{
            float: none;
            margin: 0 auto;
        }
        form{
            margin-top: 5px;
            margin-bottom: 50px;
            margin-left: 300px;
            margin-right: 300px;
            background-color: #A5A6AA;
        }
        .submit {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            padding: 16px;
            background-color: white;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        createbtn {
            background-color: #FF3F4A;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
            opacity: 0.9;
        }

        .registerbtn:hover {
            opacity: 1;
        }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
        btn-primary{
            float: none;
            margin: 0 auto;
        }
        table {
            width: 70%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }

        th {
            height: 100px;
            text-align: center;
        }
        .form{
            margin-top: 10px;
        }
        add{
            background-color: #FF3F4A;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            margin-left: 50px;
            border: none;
            cursor: pointer;
            width: 10%;
            opacity: 0.9;
        }
        create{
            display:inline-block;
            padding:8px 18px 10px;
            text-transform:uppercase;
            border:1px solid;
            background-color: #FF3F4A;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            margin-left: 50px;
            border: none;
            cursor: pointer;
            width: 10%;
            opacity: 0.9;
        }
        find{
            float: right ;
            padding: 6px ;
            margin-top: 8px ;
            margin-right: 16px ;
            margin-left: 50px ;
            border: none ;
            font-size: 17px ;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: black;
            /*background-color: #04AA6D;*/
            color: white;
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2;}

        tr:hover {background-color: #ddd;}

        input[type=text]{
            width: 88%;
            padding: 15px;
            margin: 5px 0 5px 0;
            display: inline-flex;
            border: none;
            background: #f1f1f1;
        }

        input[type=text]:focus{
            background-color: #ddd;
            outline: none;
        }
    </style>
</head>
<body id="top">

{{> header}}

{{{body}}}

{{> footer}}

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../../public/scripts/jquery.min.js"></script>
<script src="../../public/scripts/jquery.backtotop.js"></script>
<script src="../../public/scripts/jquery.mobilemenu.js"></script>
</body>
</html>